<template>
  <ul class="sidenav app-sidenav" :class="{open: value}">

    <router-link
      to="/"
      tag="li"
      active-class="active"
      exact
    >
      <a href="#" class="waves-effect waves-orange pointer">Главная</a>
    </router-link>
    <router-link
      to="/profile"
      tag="li"
      active-class="active"
      exact
    >
      <a href="#" class="waves-effect waves-orange pointer">Профиль</a>
    </router-link>
    <router-link
      to="/history"
      tag="li"
      active-class="active"
    >
      <a href="#" class="waves-effect waves-orange pointer">История покупок</a>
    </router-link>
    <router-link
      to="/promo"
      tag="li"
      active-class="active"
    >
      <a href="#" class="waves-effect waves-orange pointer">Промокод</a>
    </router-link>
    <router-link
      to="/destribution"
      tag="li"
      active-class="active"
    >
      <a href="#" class="waves-effect waves-orange pointer">Рассылка на Email</a>
    </router-link>
    <router-link
      to="/helper"
      tag="li"
      active-class="active"
    >
      <a href="#" class="waves-effect waves-orange pointer">Помощь и контакты</a>
    </router-link>
  </ul>
</template>

<script>
export default {
  props: ['value']
}
</script>

<style lang="scss" scoped>

</style>
