<template>
  <form class="card auth-card" @submit.prevent="onSubmit">
    <div class="card-content">
      <span class="card-title">Зарегистрируйтесь</span>
     <div class="row">
        <div class="col s6">
          <div class="input-field">
            <input
              id="surname"
              type="text"
              class="validate"
              :class="{invalid: ($v.surname.$dirty && !$v.surname.required)}"
              v-model="surname"
            >
            <label for="surname">Фамилия</label>
            <small class="helper-text invalid" v-if="$v.surname.$dirty && !$v.surname.required">Введите фамилию</small>
          </div>
          <div class="input-field">
            <input
              id="name"
              type="text"
              class="validate"
              :class="{invalid: ($v.name.$dirty && !$v.name.required)}"
              v-model="name"
            >
              <label for="name">Имя</label>
              <small class="helper-text invalid" v-if="$v.name.$dirty && !$v.name.required">Введите имя</small>
          </div>
            <div class="input-field">
              <input
                id="middleName"
                type="text"
                class="validate"
                :class="{invalid: ($v.middleName.$dirty && !$v.middleName.required)}"
                v-model="middleName"
              >
              <label for="middleName">Отчество</label>
              <small class="helper-text invalid" v-if="$v.middleName.$dirty && !$v.middleName.required">Введите отчество</small>
            </div>
            <div class="input-field">
              <input
                id="password"
                type="password"
                class="validate"
                v-model="password"
                :class="{invalid: ($v.password.$dirty && !$v.password.required) || ($v.password.$dirty && !$v.password.minLength)}"
              >
              <label for="password">Пароль</label>
              <small class="helper-text invalid" v-if="$v.password.$dirty && !$v.password.required">Введите пароль</small>
              <small class="helper-text invalid" v-if="$v.password.$dirty && !$v.password.minLength">Минимальная длина</small>
            </div>
            
          <div class="input-field">
              <input
                id="passwordRepeat"
                type="password"
                class="validate"
                v-model="passwordRepeat"
                :class="{invalid: ($v.passwordRepeat.$dirty && !$v.passwordRepeat.required) || ($v.passwordRepeat.$dirty && !$v.passwordRepit.minLength)}"
              >
              <label for="passwordRepeat">Повторите пароль</label>
              <small class="helper-text invalid" v-if="!$v.passwordRepeat.sameAsPassword">Пароль не совпадает</small>
            </div>

          </div>
      <!-- Второй столбик -->
          <div class="col s6">
              <div class="input-field">
            <input
              id="email"
              type="text"
              class="validate"
              v-model="email"
              :class="{invalid: ($v.email.$dirty && !$v.email.required) || ($v.email.$dirty && !$v.email.email)}"
            >
            <label for="email">Email</label>
            <small class="helper-text invalid" v-if="$v.email.$dirty && !$v.email.required">Введите Email</small>
            <small class="helper-text invalid" v-if="$v.email.$dirty && !$v.email.email">Email должен быт email</small>
          </div>

          <div class="input-field">
            <the-mask mask="+7(###)###-##-##" 
            id="phone"
            class="validate"
            v-model="phone"
            :class="{invalid: ($v.phone.$dirty && !$v.phone.required || ($v.phone.$dirty && !$v.phone.minLength))}"
            />
            
            
            <label for="phone">Телефон</label>
            <small class="helper-text invalid" v-if="$v.phone.$dirty && !$v.phone.required">Введите телефон</small>
            <small class="helper-text invalid" v-if="$v.phone.$dirty && !$v.phone.minLength">Минимальная длина</small>
          </div>
          <div class="input-field">
            
            <input
              id="city"
              type="text"
              class="validate"
              :class="{invalid: ($v.city.$dirty && !$v.city.required)}"
              v-model="city"
            > 
            <label for="city">Город</label>
            <small class="helper-text invalid" v-if="$v.city.$dirty && !$v.city.required">Введите город</small>
          </div>

          <div class="input-field">
              <input
                id="company"
                type="text"
                class="validate"
                :class="{invalid: ($v.company.$dirty && !$v.company.required)}"
                v-model="company"
              >
                <label for="company">Название компании</label>
                <small class="helper-text invalid" v-if="$v.company.$dirty && !$v.company.required">Введите название компании</small>
            </div>

            <div class="input-field">
              <the-mask mask="############" 
            id="itn"
            class="validate"
            v-model="itn"
            :class="{invalid: ($v.itn.$dirty && !$v.itn.required || ($v.itn.$dirty && !$v.itn.minLength))}"
            />
            <label for="itn">ИНН</label>
            <small class="helper-text invalid" v-if="$v.itn.$dirty && !$v.itn.required">Введите ИНН</small>
            <small class="helper-text invalid" v-if="$v.itn.$dirty && !$v.itn.minLength">Минимальная длина</small>
          </div>
            </div>
        </div>
      <p>
        <label>
          <input type="checkbox" v-model="agree" />
          <span>С правилами согласен</span>
        </label>
      </p>
    </div>
    <div class="card-action">
      <div>
        <button
          class="btn waves-effect waves-light auth-submit"
          type="submit"
        >
          Зарегистрироваться
          <i class="material-icons right">send</i>
        </button>
      </div>

      <p class="center">
        Уже есть аккаунт?
        <router-link to="/login">Войти!</router-link>
      </p>
    </div>
  </form>
</template>

<script>
import {email, minLength, required, sameAs} from 'vuelidate/lib/validators'
import {TheMask} from 'vue-the-mask'
export default {
  components: {TheMask},
  validations: {
    email: {required, email},
    surname: {required},
    name: {required},
    middleName : {required},
    phone: {required,  minLength: minLength(10)},
    passwordRepeat: {sameAsPassword: sameAs('password')},
    city: {required},
    company: {required},
    itn: {required,  minLength: minLength(12)},
    agree: {checked: val => val},
    password: {required, minLength: minLength(6)}
  },
  data: () => ({
    email: '',
    surname: '',
    name: '',
    middleName: '',
    phone: '',
    password: '',
    passwordRepeat: '',
    city: '',
    company: '',
    itn: '',
    agree: false
  }),
  methods: {
    async onSubmit() {
     
      if (this.$v.$invalid) {
        this.$v.$touch()
        return
      }

      try {
        await this.$store.dispatch('register', {
          email: this.email,
          surname: this.surname,
          name: this.name,
          middleName: this.surname,
          password: this.password,
          passwordRepeat: this.passwordRepit,
          phone: this.phone,
          city: this.city,
          company: this.company,
          itn: this.itn

        })
        this.$router.push('/')
      } catch (e) {
        
      }
    }
  }
}
</script>

<style scoped>
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
</style>
